html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.navbar {
	padding: 10px 100px;
	line-height: 20px;
	background-color: black;
	color: gray;
	overflow: visible;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

body {
	font-family: helvetica;
	background-color: #FFFDFB;
}

h1 {
	font-size: 48px;
}

h2 { 
	font-size: 24px;
}

.postlist {
	margin: 0 22%;
	position: relative;
	top: 40px;
	height: 100%;
	font-family: 'Patua One';
	line-height: 40px;
	font-size: 30px;
}

.postTitle{
	text-align: center;
}

.titles {
	list-style-type: disc;
	padding-top: 1em;
	margin: 0 10%;
}


.postlist a{
	color: #423F3C;
}

.postText {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding: 1em 0 1em 0;
	font-family: 'Merriweather', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 25px;
	color: #423F3C;
	font-size: 18px;
}

.postText p{
	padding-bottom: 1em;
}


.entries li {
	padding: 1em 0;
	border-style: solid;
	border-bottom-width: 1px;
	border-color: #d0d0d0;
}

.posts {
	padding: 1em;
	height: 100%;

}

.singlePost {
	padding-top: 1em;
	margin: 0 22%;
	position: relative;
	top: 40px;
	height: 100%;
	font-family: 'Patua One';
	color: #423F3C;

}

.navbar ul {
list-style-type:none;
margin: 0;
padding:0;
}

.navbar li {
	float: left;
}

.navbar a {
	display: block;
	width: 75px;
	text-decoration: none;

}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;}
}
.navbar a:link    {color:#a2a2a2;}
.navbar a:visited {color:#a2a2a2;}
.navbar a:hover   {color:#a2a2a2;}
.navbar a:active  {color:#a2a2a2;}

.postDate {
	text-align: center;
	font-size: 14px;
	color: #A0A0A0;
	padding: 1em 0 0 0;
	font-family: 'Merriweather', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}