html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.navbar {
	padding: 10px 100px;
	line-height: 20px;
	background-color: black;
	color: gray;
	overflow: visible;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

body {
	font-family: helvetica;
	background-color: #6f6f6f;
}

h1 {
	font-size: 30px;
}

h2 { 
	font-size: 24px;
}

.postlist {
	padding: 0px 150px;
	position: relative;
	top: 40px;
	background-color: #6f6f6f;
	height: 100%;

}

.postText {
	padding: 10px 25px;
	
}

.posts {
	background-color: #dfdfdf;
	padding: 5px;
	height: 100%;
	box-shadow: 0 10px  #888888;
}

.singlePost {
	padding: 0px 150px;
	position: relative;
	top: 40px;
	background-color: #6f6f6f;
	height: 100%;

}